.backDrop {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    height: 80vh;
    width: 50vw;
    background-color: #fff;
    border-radius: 1rem;
    z-index: 20;
}

.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heading h1 {
    margin-right: 2rem;
}

.cross {
    transition: 0.5s linear;
    color: #C4C4C4;
    cursor: pointer;
}

.cross:hover {
    color: rgb(186, 0, 0);
    transform: rotate(180deg);
}

.modeSetting {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modeSetting p {
    margin-right: 2rem;
    width: 50%;
}

@media (max-width: 425px) {
    .setting {
        width: 95vw;
    }

    .modeSetting {
        width: 90%;
    }
}