.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.dark {
  background-color: #1D1B26;
}

.rainbow {
  background: linear-gradient(0deg,rgba(255, 0, 0, 0.8),rgba(255, 154, 0, 0.8) ,rgba(208, 222, 33, 0.8) ,rgba(79, 220, 74, 0.8) ,rgba(28, 127, 238, 0.8) ,rgba(95, 21, 242, 0.8));
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  margin-right: 2rem;
}

.title.rainbow, .title.dark {
  color: #fff;
  background: transparent;
}

.settingIcon {
  cursor: pointer;
  transition: 1s;
}

.settingIcon:hover {
  transform: rotate(90deg);
}

.hidden {
  background-color: #000;
  cursor: pointer;
}

.myo {
  height: 6rem;
  width: 10rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wordContainer, .keyboardContainer {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordContainer {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (max-width: 425px) {
  .container {
    min-height: 100vh;
    height: auto;
  }

  .main {
    margin-bottom: 1rem;
  }

  .wordContainer {
    width: 100%;
  }

  .myo {
    height: 40px;
  }

  .keyboardContainer {
    width: 90%;
  }

  .footer {
    padding: 1rem 0;
  }
}
