.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  margin-right: 2rem;
}

.settingIcon {
  cursor: pointer;
  transition: 1s;
}

.settingIcon:hover {
  transform: rotate(90deg);
}

.hidden {
  background-color: #000;
  cursor: pointer;
}

.myo {
  height: 6rem;
  width: 10rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wordContainer, .keyboardContainer {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wordContainer {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media (max-width: 425px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .keyboardContainer {
    width: 90%;
  }
}
